<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hadron.hotelmanage.mappers.UserMapper">
    
    <select id="queryAll" resultType="map">
        SELECT su.*,sr.name FROM sys_user su,sys_user_role sur,sys_role sr WHERE su.user_id=sur.user_id AND sur.role_id=sr.role_id AND su.status = 1 ORDER BY su.user_id
    </select>
    
    <select id="queryByUsername" resultType="user">
        SELECT * FROM sys_user WHERE username = #{username} AND status = 1
    </select>

    <select id="queryByUsernameAndPassword" resultType="user">
        SELECT * FROM sys_user WHERE username = #{username} AND password = #{password} AND status = 1
    </select>
    
</mapper>